@font-face {
    font-family: OpenSans;
     src: url("assets/fonts/OpenSans.ttf");
   }
body {
    font-family: 'OpenSans';
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
* {
    box-sizing: border-box;
  }
.main {
    border: 1px solid green;
}
.footer {
    border: 1px solid yellow;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
a { 
    text-decoration: none; 
    color: white;
   } 
a:visited {
    color: aqua;
}
.nav {
    height: 50px;
    background-color: #08736b;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}
.nav-item {
    list-style-type: none;
    color: white;
    padding: 10px;
}
.image {
    width: 100px;
    height: auto;
}
